<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="(local)" value="." />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="WD.Services.App" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/WD.Services.App/nuget/v3/index.json" />
    <add key="WD.Services.App-Debug" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/WD.Services.App-Debug/nuget/v3/index.json" />
    <add key="WD.Services.External" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/WD.Services.External/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <!-- 
       This section should have credentials only for build agent boxes 
       Get the personal access token from VSO for each NuGet feed and run accordingly on build agent box:
       nuget sources add -name "[FeedName]" -source https://microsoft.pkgs.visualstudio.com/... -username "..." -password "..."
    -->
  </packageSourceCredentials>
</configuration>