<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!-- NuGet package inventory -->
  <package id="Newtonsoft.Json" version="8.0.2" />

  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" />
 
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.2" />

  <package id="Microsoft.Azure.KeyVault" version="2.0.2-preview" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="2.0.0-preview" />
  <package id="Microsoft.Azure.Management.KeyVault" version="2.0.0-preview" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.4" />

  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" />

</packages>
