<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Vault.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Microsoft.Vault.Explorer.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>200, 180</value>
            </setting>
            <setting name="MainFormSplitterDistance" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="MainFormWindowSize" serializeAs="String">
                <value>1170, 520</value>
            </setting>
            <setting name="MainFormSecretsSorting" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="MainFormSecretsSortingColumn" serializeAs="String">
                <value>0</value>
            </setting>
        </Microsoft.Vault.Explorer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
