<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.PS.Common.Vault.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Microsoft.PS.Common.Vault.Explorer.Properties.Settings>
            <setting name="VaultAliases" serializeAs="String">
                <value>
[
  {
    "Alias": "WD.Services US Int",
    "VaultNames": ["wdvaultus1westint", "wdvaultus1eastint"]
  },
  {
    "Alias": "WD.Services US PPE",
    "VaultNames": ["wdvaultus1westppe", "wdvaultus1eastppe"]
  },
  {
    "Alias": "WD.Services US Prod",
    "VaultNames": ["wdvaultus1westprod", "wdvaultus1eastprod"]
  },
  {
    "Alias": "WD.Services AU Prod",
    "VaultNames": ["wdvaultau1eastprod", "wdvaultau1southeastprod"]
  },
  {
    "Alias": "Defender Key Vault Dev",
    "VaultNames": ["defenderkeyvaultdev"]
  },
  {
    "Alias": "Defender Key Vault AMOps",
    "VaultNames": ["defenderkeyvault"]
  }
]
                </value>
            </setting>
        </Microsoft.PS.Common.Vault.Explorer.Properties.Settings>
    </userSettings>
</configuration>
